/tests/
/**/*.js
/**/*.map
/*.ts
/coverage/
/.c8rc*.json
/.devcontainer/
/.github/
/.idea/
/Docs.json.ts.dic
/Makefile
/.editorconfig
/.eslintignore
/.eslintcache
/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig*.json
!/tsconfig.json
!/tsconfig.app.json
