/**/*.ts
/**/*.js.map
!/**/*.d.ts
/tests/**/*.*
/*.js
/*.d.ts
/coverage/
/.devcontainer/
/.github/
/.idea/
/Makefile
/.editorconfig
/.eslintignore
/.eslintcache
/eslint.config*.mjs
/.prettierignore
/.prettierrc
/tsconfig*.json
